* {
  margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

html {
  height: 100%;
}

body { 
  height:100%;
  margin: 0;
  padding: 0;
  background: #e6e6e6;/*#c9e1ce;*/
  font-family: 'Open Sans', 微軟正黑體, sans-serif;
  font-size: 1.2em;
  color: #37342d;
}

#container {
  padding: 10px; 
  position: relative;
  border: 0px solid green;
  display: -webkit-flex;
  display: flex;
  height: calc(100% - 186px);
  height: -moz-calc(100% - 186px);
  height: -webkit-calc(100% - 186px);
}

#partnerMsgContainer {
  border-right: 4px dashed #2c9076;
  overflow: auto;
  background-color: transparent;
  -webkit-flex: 1;
          flex: 1;
}

#userMsgContainer {
  /*border-left: 2px dashed #2c9076;*/
  overflow: auto;
  background-color: transparent;
  -webkit-flex: 1;
          flex: 1;
}

/* insert by Allie */
.partnerIcon {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background: #4eccc3;
  margin: 10px;
  position: absolute;
  bottom: -10px;
  left: -50px;
}

/* insert by Allie */
.partnerA {
  background: #4eccc3;
}

.partnerB {
  background: #ff6b64;
}

.partnerC {
  background: #ffb04d;
}

.partnerMessage {
  position: relative;
  padding: 25px 35px 15px 35px;
  border: 0px solid #2c9076;
  background: white;
  width: 85%;
  float: left;
  margin: 8px;
  margin-left: 40px;
  word-wrap: break-word; word-break: normal;

  -webkit-border-radius: 35px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 35px;
  -moz-border-radius-bottomleft: 5px;
  border-radius: 35px;
  border-bottom-left-radius: 5px;
}

.userMessage {
  padding: 25px 35px 15px 35px;
  border: 0px solid #2c9076;
  background: white;
  width: 85%;
  float: right;
  margin: 8px;
  word-wrap: break-word; word-break: normal;

  -webkit-border-radius: 35px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius: 35px;
  -moz-border-radius-bottomright: 5px;
  border-radius: 35px;
  border-bottom-right-radius: 5px;
}

.highlight {
  background-color: #F3DF2C;
}

.block {
  visibility: hidden;
}

.share {
  border: 4px solid #2c9076;
}

.shareBt {
  float: right;
  width: 22px;
  height: 22px;
  border: 0px solid blue;
  border-radius: 0;
  background-image:url(./pic/share.png); /*#75736B*/
  background-size: 22px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px;
  margin: 8px 5px 2px 8px;
}

.shareBt:hover {
  cursor: pointer;
}

.shareBt.clicked {
  background-image:url(./pic/share_click.png);
}

.translateBt {
  float: right;
  height: 25px;
  border: 0px solid blue;
  border-radius: 0;
  background-image:url(./pic/Translate.png);
  background-size: 36px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #75736B;
  font-family: 'Open Sans', 微軟正黑體, sans-serif;
  font-size: 18px;
  padding: 13px 18px;
  margin: 6px 5px 2px 3px;
}

.translateBt:hover {
  cursor: pointer;
  /*color: #2c9076;*/
  /*text-decoration: underline;*/
}

.likeBt {
  float: right;
  width: 22px;
  height: 22px;
  border: 0px solid blue;
  border-radius: 0;
  background-image:url(./pic/like.png); /*#75736B*/
  background-size: 22px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px;
  margin: 8px 5px 2px 3px;
}

.likeBt:hover {
  cursor: pointer;
}
.likeBt.clicked {
  background-image:url(./pic/like_click.png);
}

.revertBt {
  float: right;
  height: 25px;
  border: 0px solid blue;
  border-radius: 0;
  background-size: 22px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #75736B;
  font-family: 'Open Sans', 微軟正黑體, sans-serif;
  font-size: 18px;
  padding: 2px;
  margin: 6px;
}

.revertBt:hover {
  cursor: pointer;
  color: #2c9076;
  text-decoration: underline;
}

#controlPanel {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 202px;
  min-height: 202px;
  border: 0px solid red;
  background: white;
  box-shadow: 0 -3px 2px transparent, 0 -3px 3px rgba(0, 0, 0, 0.09);
}

#controlPanel form { 
  border: 0px solid black;  
  padding: 10px 20px; 
}

/* edit by Allie */
#textInput { 
  width: 100% ;
  border-radius: 0px;
  color: #37342d;
  font-family: 'Open Sans', 'Archivo Narrow', 微軟正黑體;
  font-size: 0.8em;
  padding: 10px;
  margin-left: 0px;
  margin-top: 6px;
  text-decoration:none;
  border : 1px solid #37342d;
}

#textInput:focus {
  outline-color: #837b6b;
}

.toolBar {
  width: 100%;
  height: 45px;
  border: 0px solid red;
  min-width: 100px;
}

.toolBar select{
  width:100px;
  height: 35px;
  font-family: 'Open Sans', 微軟正黑體, sans-serif;
  font-size : 1em;
  line-height: 1em;
  border : 1px solid #37342d;
  border-radius : 5px;
  padding: 0px; 
}

.toolBar select:focus {
  outline-color: #837b6b;
} 

/* inert by Allie */
#settingPanel {
  border-top: 1px solid #acaba6;
  padding-top: 5px;
  margin-top: 4px;
}

/* edit by Allie */
.listRow {
  border: 0px solid blue;
  width: 100%;
  height: 40px;
  margin: 3px 5px;
  padding: 0px;
}

#oriLang {
  float: left;
  margin-left: 0px;
}

#transLang {
  float: left;
}

/* edit by Allie */
#arrow {
  float: left;
  width: 30px;
  height: 30px;
  border: 0px solid blue;
  border-radius: 0;
  background-image:url(./pic/arrow-right.png); /*#75736B*/
  background-size: 30px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px;
  margin: 3px 8px 4px 10px;
}

/* edit by Allie */
#sendButton {
  float: right;
  padding: 6px 12px;
  margin: 8px;
  height: 30px;
  border-radius: 5px;
  background-color: #2c9076;
  box-shadow: none;
  color: white;
  font-family: 'sans-serif';
  font-size: 1em;
  text-decoration:none;
  border: 0px; 
  margin-right: 0px;
}

#sendButton:hover{
  cursor:pointer;
  background-color: #f0cb1a;
}
#sendButton:focus{
  cursor:pointer;
  outline-color: #837b6b;
}

/* edit by Allie */
#settingBt {
  float: left;
  width: 30px;
  height: 30px;
  border: 0px solid blue;
  border-radius: 0;
  background-image:url(./pic/setting.png); /*#75736B*/
  background-size: 30px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px;
  margin: 7px;
}

#settingBt:hover {
  cursor: pointer;
  background-image:url(./pic/setting_click.png);
}

#settingBt.clicked{
  cursor:pointer;
  /*background-image:url(./pic/setting_click.png);*/
  background-image:url(./pic/back.png);
}


/* edit by Allie */
#blockAll {
  float: left;
  height: 35px;
  border: 0px solid red;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #75736B;
  font-family: 'Open Sans', 微軟正黑體, sans-serif;
  font-size: 1.05em;
  margin-top: 4px;
}

#blockAll:hover {
  cursor: pointer;
  text-decoration: underline;
}

#blockAll.clicked {
  color: #2c9076;
}

/* insert by Allie */
#hideUnshare {
  float: left;
  height: 35px;
  border: 0px solid red;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #75736B;
  font-family: 'Open Sans', 微軟正黑體, sans-serif;
  font-size: 1.05em;
  margin-bottom: 0px;
}

#hideUnshare:hover {
  cursor: pointer;
  text-decoration: underline;
}

#hideUnshare.clicked {
  color: #2c9076;
}

.langSelector{
  float: left;
}

